@import "@/presentation/styles/colors.scss";

.errorWrap {
  align-items: center;
  display: flex;
  flex-direction: column;

  .spinner {
    margin-top: 32px;
  }

  .error {
    margin-top: 32px;
    color: $primaryLight;
  }
}
