@import "@/presentation/styles/colors.scss";

.participantsList {
  display: flex;
  flex-direction: column;

  .noParticipants {
    display: inline;
    text-align: center;
    font-size: 26px;
  }

  table {
    background-color: $white;
    border-collapse: collapse;
    flex-basis: auto;
    font-size: 21px;
    font-weight: bold;
    line-height: 32px;
    margin: 10px;
    table-layout: auto;
    vertical-align: middle;
  }
}

