@import "@/presentation/styles/colors.scss";

.modal {
  align-items: center;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  z-index: 2000;
  width: 100%;

  .inputWrap {
    align-items: center;
    animation: animate 300ms;
    background-color: $white;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 40px -3px rgba(0,0,0,0.79);
    display: flex;
    flex-direction: column;
    margin: 15% auto;
    padding: 20px;
    position: relative;

    .title {
      font-size: 30px;
      margin: 20px 0 10px 0;
    }

    .close {
      border-radius: 50%;
      cursor: pointer;
      height: 20px;
      width: 20px;
      right: 10px;
      top: 10px;
      position: absolute;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .modal {
    .inputWrap {
      max-width: 90%;

      .title {
        font-size: 24px;
        margin-bottom: 5px;
      }
    }
  }
}

@keyframes animate {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}