@import "@/presentation/styles/colors.scss";

tr {      
  display: table-row;
  vertical-align: inherit;
}

td, th {
  border-bottom: 1px solid $primary;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.statusPayment {
  cursor: pointer;
  justify-content: center;
  table-layout: fixed;
  width: 25px;

  button {
    margin: auto;
  }
}

.dot {
  border-radius: 50%;
  border: 3px solid $primaryDark;
  display: block;
  height: 15px;
  width: 15px;  
}

.paid {
  .dot {
    animation: test 500ms;
    background: $primary;
    border: 3px solid $primary;
  }

  .value {
    text-decoration-line: line-through;
  }
}

.name {
  text-align: left;
  min-width: 100px;
  word-wrap: break-word;
  padding-left: 10px;
}

.value {
  width: 100px;
  text-align: center;
}

.editAction,
.removeAction {
  cursor: pointer;
  text-align: center;
  width: 30px;

  button {
    padding: 0;
  }
}
  