@import "@/presentation/styles/colors.scss";

.listWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: -70px;
}

@media only screen and (max-width: 600px) {
  .listWrap {
    flex-direction: column;
  }
}