@import "@/presentation/styles/colors.scss";

.loginWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;

  .form {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 400px;

    h2 {
      color: $black;
      font-size: 26px;
      text-align: center;
    }

    .signup {
      color: $black;
      margin-top: 24px;
      display: inline;
      text-decoration: none;
      
      Link {

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .submit {
      display: block;
      margin-top: 48px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .loginWrap {
    .form {
      width: 300px;      
    }
  }
}