@import "@/presentation/styles/colors.scss";

.login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;

  .header {
    align-items: center;
    display: flex;
    height: 30vh;
    justify-content: center;

    h2 {
      font-size: 32px;
    }
  }

  .form {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 400px;

    h2 {
      color: $black;
      font-size: 20px;
      text-align: center;
    }

    .submit {
      margin-top: 64px;
    }

    .link {
      color: $black;
      cursor: pointer;
      margin-top: 40px;
      text-align: center;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
