@import "@/presentation/styles/colors.scss";

input[type="text"] {
  border-radius: 4px;
  line-height: 40px;
  padding: 0px 40px 0px 8px;
  border: 1px solid $greyLight;
  outline: none;

  &:focus {
    outline: none;
  }
}

input[type="number"] {
  border-radius: 4px;
  border: 1px solid $greyLight;
  line-height: 32px;
  margin-top: 0;

  &:focus {
    outline: none;
  }
}

.form {
  display: inherit;
  flex-direction: inherit;
  text-align: center;

  input {
    margin: 8px;
  }

  span {
    font-size: 20px;
    margin: 10px;
  }

  .value {
    display: flex;
    flex-direction: row;
    justify-content: center;

    input {
      margin-top: 0;
      text-align: center;
      max-width: 80px;
    }

    .suggest {
      align-items: center;
      color: $greyDark;
      display: flex;
      flex-direction: column;
      justify-content: center;      
    }

    .sumSuggest {
      align-items: center;
      color: $greyDark;
      display: flex;

      span {
        font-size: 28px;
        margin: 0;
      }
    }
  }

  .buttonsWrap {
    display: inline-flex;
    justify-content: space-evenly;
    border: none;
    border-radius: 8px;
    color: $white;
    width: 100%;
    padding-top: 20px;

    button {
      padding: 0px 10px;
      line-height: 35px;
      outline: none;
    }
    
    button[type=submit] {
      background-color: $primaryLight;
      color: $black;

      &:disabled {
        background-color: $disabled;
        color: rgba(138, 135, 135, 0.849);
      }

      &:active hover {
        background-color: $primary;       
      }
    }

    button[type=reset] {
      background-color: transparent;
      color: $greyLight;
      border: 1px solid $greyLight;

      &:hover {
        border: 1px solid red;
        color: red;
      }
    }
  }
}

