@import "@/presentation/styles/colors.scss";

.wrap {  
  min-width: 100%;
  text-align: center;

  span {
    font-size: 20px;
    margin: 10px;
  }

  .buttonsWrap {
    display: inline-flex;
    flex:1;
    justify-content: space-evenly;
    border: none;
    border-radius: 8px;
    color: $white;
    width: 100%;
    padding-top: 20px;

    button {
      padding: 0px 10px;
      line-height: 35px;
      outline: none;
    }
    
    .confirmation {
      background-color: red;
      color: $white;
    }

    .cancel {
      background-color: transparent;
      color: $greyLight;
      border: 1px solid $greyLight;

      &:hover {
        border: 1px solid $black;
        color: $black;
      }
    }
  }
}

