@import "@/presentation/styles/colors.scss";

.barbecue {
  border: none;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
  min-width: 100%;
  position: relative;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 10px;
    
    .date {
      color: #000;
      font-size: 28px;
      font-weight: 800;
      width: 100%;
    }
  
    .description {
      font-size: 36px;
      font-weight: bold;
    }
  }

  .totals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    padding-right: 50px;

    span {
      font-size: 21px;      
      font-weight: 800;
    }

    .peoples {
      .count {
        margin-left: 8px;
      }
    }

    .money {
      display: inline-flex;
      align-items: center;
      justify-content: left;

      .wrapMoney{
        margin-left: 8px;
        
        .separate {
          margin: 0 2px;
          font-size: 16px;
        }

        .valueCollected{          
          font-size: 16px;
        }
      }
    }
  }
}

.editButton {
  background-color: $primary;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  right: 20px;

  &:hover {
    transform: scale(1.1);
    animation: normal 500ms infinite;
    animation-duration: 500ms;
  }
}
