@import "@/presentation/styles/colors.scss";

.barbecue {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
  position: relative;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    
    .date {
      color: #000;
      font-size: 28px;
      font-weight: 800;
      width: 100%;
    }
  
    .description {
      font-size: 36px;
      font-weight: bold;
      margin-top: 8px;
    }
  }

  .totals {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 10px;

    span {
      font-size: 21px;      
      font-weight: 800;
    }

    .icon {
      color: $primary;
      width: 25px;
    }

    .peoples {
      align-items: center;
      display: flex;

      .count {
        margin-left: 8px;
      }
    }

    .money {
      align-items: center;
      display: flex;
      justify-content: left;

      .wrapMoney{
        margin-left: 8px;
        
        .separate {
          margin: 0 2px;
          font-size: 16px;
        }

        .valueCollected{          
          font-size: 16px;
        }
      }
    }
  }

  .editButton {
    align-items: center;
    color: $black;
    cursor: pointer;
    display: flex;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 5px;
  
    &:hover {
      transform: scale(1.1);
      animation: normal 500ms infinite;
      animation-duration: 500ms;
    }
  }
}

@media only screen and (max-width: 600px) {
  .barbecue {
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    width: 100%;

    .totals {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;      
    }
  }
}