@import "@/presentation/styles/colors.scss";

.signupWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;

  .form {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 400px;

    h2 {
      color: $black;
      font-size: 20px;
      text-align: center;
    }

    .link {
      color: $black;
      cursor: pointer;
      margin-top: 40px;
      text-align: center;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .loginWrap {
    .form {
      width: 300px;      
    }
  }
}
