@import "@/presentation/styles/colors.scss";

.signupWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;

  .form {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 400px;

    h2 {
      color: $black;
      font-size: 26px;
      text-align: center;
    }

    .buttons {
      display: inline-flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 64px;

      .optionText{
        align-items: center;
        display: flex;
        font-size: 20px;
        text-align: center;
      }
    }

    .link {
      color: $black;
      cursor: pointer;
      margin-top: 40px;
      text-align: center;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .signupWrap {
    .form {
      width: 300px;      
    }
  }
}
