@import "@/presentation/styles/colors.scss";

.spinner {
  display: inline-block;
  position: absolute;
  width: 80px;

  div {
    display: inline-block;
    position: absolute;
    justify-content: center;
    left: 8px;
    width: 16px;
    animation: spinner 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;

    &:nth-child(1) {
      left: -8px;
      animation-delay: -0.24s;
    }

    &:nth-child(2) {
      left: 16px;
      animation-delay: -0.12s;
    }

    &:nth-child(3) {
      left: 40px;
      animation-delay: 0;
    }
  }
}

@keyframes spinner {
  0% {
    top: 4px;
    height: 48px;
  }
  50%, 100% {
    top: 20px;
    height: 24px;
  }
}
