.header {
  align-items: center;
  display: flex;
  height: 30vh;
  justify-content: center;

  h2 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    height: 10vh;

    h2 {
      font-size: 24px;
    }
  }
}