@import "@/presentation/styles/colors.scss";

.contentContainer {
  align-self: center;
  background-color: $white;
  justify-content: center;
  min-height: 70vh;
  padding: 24px;
}

@media only screen and (max-width: 1980px) {
  .contentContainer {
    min-height: 80vh;
    min-width: 70%;
  }
}

@media only screen and (max-width: 1024px) {
  .contentContainer {
    min-height: 80vh;
    min-width: 75%;
  }
}

@media only screen and (max-width: 900px) {
  .contentContainer {
    min-height: 80vh;
    min-width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .contentContainer {
    min-height: 80vh;
    min-width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .contentContainer {
    min-height: 80vh;
    min-width: 100%;
  }
}
