@import "@/presentation/styles/colors.scss";

.newItemWrap {
  box-shadow: 6px 10px 27px -10px rgba(0,0,0,0.48);
  display: flex;
  flex-direction: column;
  height: 140px;
  margin: 16px;
  min-width: 200px;
  cursor: pointer;

  .content {
    align-items: center;
    background-color: #e0e0e0;
    border: none;          
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    overflow: hidden;
    padding: 16px;
    position: relative; 
    
    &:hover {
      background-color: #bdbdbd ;
    }

    .circle {
      align-items: center;
      background-color: $primary;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      width: 70px;
      height: 70px;
    }

    .text {
      margin-top: 10px;
      font-weight: bold;
      font-size: 21px;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 960px) {
  .newItemWrap {
    flex-basis: 40%;
  }
}

@media only screen and (max-width: 600px) {
  .newItemWrap {
    flex-basis: 100%;
  }
}