@import "@/presentation/styles/colors.scss";

.barbecueItemWrap {
  background-color: $white;
  border: none;      
  box-shadow: 6px 10px 27px -10px rgba(0,0,0,0.48);
  display: flex;
  flex-direction: column;
  height: 140px;
  margin: 16px;
  min-width: 200px;
  overflow: hidden;
  position: relative;
  
  .link {        
    text-decoration: none;
    flex: 1;
  }
}

@media only screen and (max-width: 960px) {
  .barbecueItemWrap {
    flex-basis: 40%;
  }
}

@media only screen and (max-width: 600px) {
  .barbecueItemWrap {
    flex-basis: 100%;
  }
}

@keyframes ease-in {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}