@import "@/presentation/styles/colors.scss";

.barbecueItemWrap {
  box-shadow: 6px 10px 27px -10px rgba(0,0,0,0.48);
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  height: 140px;
  margin: 16px;
  min-width: 200px;

  .barbecueContent {
    background-color: $white;    
    border: none;      
    color: $black;    
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    overflow: hidden;
    padding: 16px;
    position: relative;
    text-decoration: none;

    .details {
      display: flex;
      flex-direction: column;

      .date {
        color: #000;
        font-size: 25px;
        font-weight: 800;
        width: 100%;
      }
    
      .description {
        font-size: 18px;
        font-weight: bold;
      }
    }
  
    .totals {
      display: inline-flex;
      justify-content: space-between;

      .people {
        align-items: center;
        display: flex;

        .icon {
          color: $primary;
        }
      }

      .money {
        align-items: center;
        display: flex;

        .icon {
          color: $primary;
        }
      }
      
      span {
        font-size: 16px;
        text-align: center;
        padding: 4px;
        vertical-align: super;
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .barbecueItemWrap {
    flex-basis: 40%;
  }
}

@media only screen and (max-width: 600px) {
  .barbecueItemWrap {
    flex-basis: 100%;
  }
}

@keyframes ease-in {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}