@import "@/presentation/styles/colors.scss";

.barbecueListWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  
  .contentWrap {
    background-color: $white;
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 800px;
    width: 100%;
    padding: 24px;
  }
}
