@import "@/presentation/styles/colors.scss";

input[type="email"],
input[type="date"],
input[type="text"] {
  border-radius: 4px;
  line-height: 40px;
  padding: 0px 40px 0px 8px;
  border: 1px solid $greyLight;
  outline: none;

  &:focus {
    outline: none;
  }
}

input[type="number"],
textarea {
  border-radius: 4px;
  border: 1px solid $greyLight;
  line-height: 32px;
  margin-top: 16px;

  &:focus {
    outline: none;
  }
}

.form {
  display: inherit;
  flex-direction: inherit;
  text-align: center;

  input,
  textarea {
    margin: 8px;
  }

  .date {
    width: auto;
  }

  .observation {
    margin-top: 24px;
    resize: none;
    padding: 0px 40px 0px 8px;
    position: relative;
  }

  .suggest {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    input {
      text-align: center;
      width: 100px;
    }
  }

  .buttonsWrap {
    display: inline-flex;
    justify-content: space-evenly;
    border: none;
    border-radius: 8px;
    color: $white;
    width: 100%;
    padding-top: 20px;

    button {
      padding: 0px 10px;
      line-height: 35px;
    }
    
    button[type=submit] {
      background-color: $primaryLight;
      color: $black;

      &:disabled {
        background-color: $disabled;
        color: rgba(138, 135, 135, 0.849);
      }

      &:active hover {
        background-color: $primary;       
      }
    }

    button[type=reset] {
      background-color: transparent;
      color: $greyLight;
      border: 1px solid $greyLight;

      &:hover {
        border: 1px solid red;
        color: red;
      }
    }
  }
}

@keyframes animate {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}