@import "@/presentation/styles/colors.scss";

input[type="email"],
input[type="date"],
input[type="text"] {
  border-radius: 4px;
  line-height: 40px;
  padding: 0px 40px 0px 8px;
  border: 1px solid $greyLight;
  outline: none;

  &:focus {
    outline: none;
  }
}

input[type="number"],
textarea {
  border-radius: 4px;
  line-height: 40px;
  border: 1px solid $greyLight;

  &:focus {
    outline: none;
  }
}

.barbecueListWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  
  .contentWrap {
    align-self: center;
    background-color: $white;
    justify-content: center;
    min-height: 70vh;
    max-width: 750px;
    padding: 24px;
  }
}

.modal {
  align-items: center;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  z-index: 2000;
  width: 100%;

  .inputWrap {
    align-items: center;
    animation: animate 300ms;
    background-color: $white;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 40px -3px rgba(0,0,0,0.79);
    display: flex;
    flex-direction: column;
    margin: 15% auto;
    padding: 20px;
    
    .title {
      font-size: 30px;
      margin-bottom: 10px;
    }

    .form {
      display: inherit;
      flex-direction: inherit;

      input,
      textarea {
        margin: 8px;
      }
  
      .date {
        width: auto;
      }
  
      .observation {
        resize: none;
        width: 100%;
      }

      .suggest {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        input {
          text-align: center;
          width: 100px;
        }
      }

      .buttonsWrap {
        display: inline-flex;
        justify-content: space-evenly;
        border: none;
        border-radius: 8px;
        color: $white;
        width: 100%;
        padding-top: 20px;
  
        button {
          padding: 0px 10px;
          line-height: 35px;
        }
        
        button[type=submit] {
          background-color: $primaryLight;
          color: $black;

          &:disabled {
            background-color: $disabled;
            color: rgba(138, 135, 135, 0.849);
          }
  
          &:active hover {
            background-color: $primary;       
          }
        }
  
        button[type=reset] {
          background-color: transparent;
          color: $greyLight;
          border: 1px solid $greyLight;
  
          &:hover {
            border: 1px solid red;
            color: red;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .barbecueListWrap {
    .contentWrap {
      min-height: 80vh;
      min-width: 100%;
    }
  }
}

@keyframes animate {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}