@import "@/presentation/styles/colors.scss";

.barbecueListWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  
  .contentWrap {
    background-color: $white;
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 800px;
    width: 100%;
    padding: 24px;

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 30%;
        margin-bottom: 16px;
        box-shadow: 6px 10px 27px -10px rgba(0,0,0,0.48);

        .barbecueContent {
          background-color: #FFF;
          border: none;          
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          justify-content: space-between;
          overflow: hidden;
          padding: 8px;        
          position: relative; 
          
          .date {
            color: #000;
            font-size: 25px;
            font-weight: 800;
            width: 100%;
          }
        
          .description {
            font-size: 18px;
            font-weight: bold;
          }
        
          .totals {
            display: inline-flex;
            justify-content: space-between;
            margin-top: 30px;
            
            span {
              font-size: 16px;
              text-align: center;
              padding: 4px;
              vertical-align: super;
            }
          }
        }
      }
    }

  }
}

@media only screen and (max-width: 600px) {
  .barbecueListWrap {  
    .contentWrap {
      ul {
        flex-direction: column;

        li {
            flex-basis: 100%;
        }
      }
    }
  }
}
